[Unit]
Description=Docuum
After=docker.service
Wants=docker.service

[Service]
Environment='DOCUUM_ARGS="--threshold 60%"'
ExecStart=/usr/local/bin/docuum ${DOCUUM_ARGS}
Restart=on-failure

[Install]
WantedBy=multi-user.target